<form method="post" asp-controller="Notes" asp-action="CreateNote">
	<table>
		<tr>
			<td><p>Заголовок</p></td>
			<td><input id="Title" type="text" name="Title" /> </td>
		</tr>
		<tr>
			<td><p>Текст</p></td>
			<td><input id="Text" type="text" name="Text" /> </td>
		</tr>
	</table>
	<input type="submit" value="Подтвердить" />
</form>